* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      animation: backgroundColorChange 20s ease-in-out infinite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @keyframes backgroundColorChange {
      0%   { background: #f3c1f3; }
      25%  { background: #c1e0f3; }
      50%  { background: #f3f3c1; }
      75%  { background: #f3c1c1; }
      100% { background: #f3c1f3; }
    }
    .logo{
      position: absolute;
        top:0;
        left: 0;
        padding:10px;
    }
    .logo-icon-smile{
      height:20px;
      width:20px;
      padding-top:5px;
        
    }
    .logo-text{
      font-size: 20px;
      font-weight: 100%;
    }
    .navbar{
      
    position: fixed;
    top:0;
    right: 0;
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    }
    .main-heading{
      font-size: 150px;
      display: flex;
      gap:5px;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
      
    }
    .main-quote{

    }
    .brush-icon{
      height:80px;
      position: relative;
      bottom: 100px;
      left: 100px;
    }
    .pencil-icon{
      height: 150px;
      position: relative;
      left:80px;
      top:160px;
      box-shadow: ;

    }